versions
.DS_Store
.gitignore
.svn
/config/aws_sdb_proxy.yml
/config/backgroundrb.yml
/config/database.yml
/config/fed_ex.yml
/config/flickr.yml
/config/juggernaut.yml
/config/juggernaut_hosts.yml
/config/s3.yml
/config/initializers/mail.rb
/config/initializers/session_store.rb

/cookies.txt
/coverage.data
/coverage/
/db/migrate_orig/
/db/schema.rb.1
/db/schema.rb.2
/db/schema.rb.3
/db/schema.rb.4
/db/schema.rb.orig
/describe_database_tables
/dev_db_description
/doc/
/downloaded_ratings
/downloaded_ratings2
/downloads/
/existing_inline_javascript
/index.html.erb
/log/
/netflix_ratings.html
/production_db_description
/public/bj.html
/public/dice.html
/public/divs.html
/public/index.html.orig
/public/index.html.orig.2.3.2
/public/javascripts/jquery-1.2.6.js
/public/javascripts/jquery-1.3.2.js
/public/javascripts/mine_sweeper.js.01
/public/javascripts/mine_sweeper.js.02
/public/javascripts/period.js.orig
/public/javascripts/vbx/
/public/javascripts/yahtzee.js.091129
/public/javascripts/yahtzee.js.091129b
/public/ms.html
/public/photo_old/
/public/test.html
/public/user/
/public/y.html
/rip.rb
/test.pl
/test/tmp/
/tmp/
/ttt.rb
/vendor/unused_plugins/

